<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:sisaluno="http://sisaluno.decex.eb.mil.br"
	  xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Matricula de aluno</title>
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}"/>
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}"/>
	<link rel="stylesheet" th:href="@{/layout/stylesheets/sisaluno.css}"/>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4">					
					<h1 th:if="${matricula.nova}">Matricular aluno</h1>
					<h1 th:unless="${matricula.nova}">Edição da matricula - número [[${matricula.numeroMatricula}]]</h1>					
				</div>
				<div class="col-xs-3">					
					<h1 th:unless="${matricula.nova}">Atitudinal: [[${matricula.totalAtitudinal}]]</h1>									
				</div>
				<div class="col-xs-3">					
					<h1 th:unless="${matricula.nova}">TFM: [[${matricula.totalTFM}]]</h1>					
				</div>
			<div class="col-xs-2">					
					<div class="decex-page-header-controls">
						
						<a class="btn btn-default" th:href="@{/matriculas}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs hidden-sm">Pesquisar</span>
						</a>						
					</div>						
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">				
		<form method="POST" th:object="${matricula}" class="form-vertical  js-form-loading" autocomplete="off" 
				th:action="${matricula.nova} ? @{/matriculas/nova} : @{/matriculas/{codigo}(codigo=${matricula.codigo})}">
		
			<sisaluno:message/>
						
			<input  type="hidden" th:field="*{codigo}">			
			
			<input type="hidden" id="uuid" th:field="*{uuid}"/>
			
			<div class="row">
				<div class="col-sm-3">
					<div class="decex-box">
						<div class="decex-box__icon">
							<i class="fa  fa-university  fa-3x" aria-hidden="true"></i>
						</div>
						<div class="decex-box__value" th:text="${#authentication.principal.usuario.om.sigla}">EsA</div>
						<div class="decex-box__title">Unidade de Ensino</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="decex-box">
						<div class="decex-box__icon">
							<i class="fa  fa-tag  fa-3x"></i>
						</div>
						
						<div th:if="${matricula.nova}" class="decex-box__value">Matriculado</div>
						<div th:unless="${matricula.nova}" class="decex-box__value" th:text="${{matricula.situacao}}">Matriculado</div>
						<div class="decex-box__title">Situação no curso</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="decex-box">
					
						<div class="decex-box__icon">
							<i class="fa  fa-calendar  fa-3x"></i>
						</div>						
						
						<div class="decex-box__value">
							<span class="js-tooltip"  th:text="${{matricula.dataInicioCurso}}">14/03/2023</span>
							
						</div>
						<div class="decex-box__title">Data de início</div>
																		
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="decex-box">
					
						<div class="decex-box__icon">
							<i class="fa  fa-calendar  fa-3x"></i>
						</div>						
						
						<div class="decex-box__value">
							<span class="js-tooltip" th:text="${{matricula.dataFinalCurso}}">27/11/2026</span>
							
						</div>
						<div class="decex-box__title">Previsão de término</div>												
					</div>
				</div>				
			</div>
						
			<div class="row">
				<div class="form-group  col-sm-12" style="text-align: center;">
					<label class="control-label" for="Aluno">Dados do aluno:</label>
				</div>
			</div>
			
			  <div class="row">
			  	
			  	<div class="form-group  col-sm-4  sc-required" sisaluno:classforerror="aluno.codigo">
					<label class="control-label" for="cpfAluno">CPF do aluno</label>
					<div class="input-group">
				      <input id="cpfAluno" type="text" readonly="readonly" class="form-control" th:field="*{aluno.cpf}"
				      						placeholder="Clique na lupa para pesquisar o aluno"/>				     
				      <input id="codigoAluno" type="hidden" th:field="*{aluno}"/>
				      <span class="input-group-btn">
				        <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada"
				        		data-toggle="modal" data-target="#pesquisaRapidaAlunos" >
				        	<i class="glyphicon  glyphicon-search"></i>
				        </button>
				      </span>
				    </div>
				</div>
				
				<div class="form-group  col-sm-6">
					<label class="control-label" for="nomeAluno">Nome do aluno</label>								      
				    <input id="nomeAluno" type="text" readonly="readonly" 
				    		class="form-control" th:field="*{aluno.nome}"/>					    
				</div>
			  	
										
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-12" style="text-align: center;">
					<label class="control-label" for="Aluno"></label>
				</div>
			</div>
			<div class="row">
				<div class="form-group  col-sm-12" style="text-align: center;">
					<label class="control-label" for="Aluno">Notas:</label>
				</div>
			</div>
				
			<div class="row">
				<div class="form-group col-sm-4">
					<label class="control-label" for="tfm">TFM</label>
					<div class="input-group">
	      				<div class="input-group-addon">I</div> 
						<input id="tfm" placeholder="Informe a primeira nota do TAF" type="text" step="0,01" min="0,01" max="10,00" maxlength="4" class="form-control  js-nota" th:field="*{tfm}"/>
					</div>
				</div>
				
				<div class="form-group col-sm-4">
					<label class="control-label" for="tfm2">TFM II</label>
					<div class="input-group">
	      				<div class="input-group-addon">II</div> 
						<input id="tfm2" placeholder="Informe a segunda nota do TAF" type="text" maxlength="6" class="form-control  js-nota" th:field="*{tfm2}"/>
					</div>
				</div>
				
				<div class="form-group  col-sm-4 sc-required">
					<label class="control-label" for="tfm3">TFM III</label>
					<div class="input-group">
	      				<div class="input-group-addon">III</div> 
						<input id="tfm3" placeholder="Informe a terceira nota do TAF" type="text" maxlength="6" class="form-control  js-nota" th:field="*{tfm3}"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				
				<div class="form-group  col-sm-4">
					<label class="control-label" for="atitudinal">Atitudinal</label>
					<div class="input-group">
	      				<div class="input-group-addon">A</div>						
						<input id="atitudinal" placeholder="Informe a nota atitudinal" type="text" maxlength="6" class="form-control  js-nota" th:field="*{atitudinal}"/>
					</div>
				</div>
			
				<div class="form-group  col-sm-4">
					<label class="control-label" for="atitudinalLateral">Atitudinal Lateral</label>
					<div class="input-group">
	      				<div class="input-group-addon">AL</div>						
						<input id="atitudinalLateral" placeholder="Informe a nota atitudinal lateral" type="text" maxlength="6" class="form-control  js-nota" th:field="*{atitudinalLateral}"/>
					</div>
				</div>
				
				<div class="form-group  col-sm-4">
					<label class="control-label" for="atitudinalVertical">Atitudinal Vertical</label>
					<div class="input-group">
	      				<div class="input-group-addon">AV</div>						
						<input id="atitudinalVertical" placeholder="Informe a nota atitudinal vertical" type="text" maxlength="6" class="form-control  js-nota" th:field="*{atitudinalVertical}"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-lg-12">
					<ul class="nav nav-tabs js-abas-matricula">
					   <li role="presentation" class="active"><a href="#cursos">Curso</a></li>
					   <li role="presentation"><a href="#previsao">Previsão</a></li>					  					  
					</ul>
				</div>
			</div>
			
<!-- 			<div class="row"> -->
<!-- 				<div class="form-group  col-lg-12"> -->
<!-- 					<ul class="nav nav-tabs" role="tablist"> -->
<!-- 					   <li class="nav-item active sc-required" role="presentation"> -->
<!-- 					  	<a  href="#tabCursos"  id="linkCursos" data-toggle="tab" role="tab" aria-controls="tabCursos"> -->
<!-- 					  		Curso -->
<!-- 					  	</a>					   -->
<!-- 					  </li> -->
					  
<!-- 					  <li class="nav-item" role="presentation"> -->
<!-- 					  	<a href="#tabPrevisao" class="nav-link" id="linkPrevisao" data-toggle="tab" role="tab" aria-controls="tabPrevisao"> -->
<!-- 					  		Previsão					  	 -->
<!-- 					  	</a> -->
<!-- 					  </li> -->
					  
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
			 <div class="tab-content">
			 	<div class="tab-pane active" id="cursos">
			 		<div class="row">
			 			<div class="form-group col-lg-12">
			 				<input type="text" class="form-control js-sku-descr-curso-input" id="curso" 
								placeholder="Pesquise e adicione o curso pelo SKU ou Descrição" autofocus="autofocus" 
								data:url="@{/cursos}" th:field="*{curso}"/>
			 			</div>			 		
			 		</div>
			 		<div class="sc-tabela-matriculas js-tabela-cursos-container">						
						<th:block th:replace="matricula/TabelaItensMatricula"/>						
					</div>
			 	</div>
			 	
			 	<div class="tab-pane" id="previsao">
			 		<div class="row">
			 			<div class="form-group  col-sm-2">
							
						</div>
			 		</div>
			 		<div class="row">
			 			<div class="form-group  col-sm-2">
							
						</div>
						
						<div class="form-group  col-sm-3 sc-required" sisaluno:classforerror="dataInicioCurso">
							<label class="control-label" for="dataInicio">Data de inicio do curso</label>
							<input type="text" class="form-control js-date" id="dataInicioCurso" th:field="*{dataInicioCurso}"/>
						</div>
						
						<div class="form-group  col-sm-3 sc-required" sisaluno:classforerror="dataFinalCurso">
							<label class="control-label" for="dataConclusao">Previsão de conclusão</label>
							<input type="text" class="form-control js-date" id="dataFinalCurso" th:field="*{dataFinalCurso}"/>
						</div>
			 		
			 		</div>
			 		
			 		<div class="row">					
						
						<div class="form-group  col-sm-2">
							
						</div>
						
						<div class="col-sm-3 form-group sc-required" sisaluno:classforerror="situacao">
							<label for="situacao" class="control-label">Situação no Curso</label>
							<select id="situacao" class="form-control" th:field="*{situacao}" >
			                    <option value="">Selecione a situação na qual o aluno se encontra</option>
			                    <option th:each="situacao : ${situacoes}" th:value="${situacao}" th:text="${situacao.descricao}">Matriculado</option>
			                </select>
						</div>
						
						<div class="col-sm-3 form-group sc-required" sisaluno:classforerror="anoLetivo">
							<label for="anoLetivo" class="control-label">Ano letivo</label>
							<select id="anoLetivo" class="form-control" th:field="*{anoLetivo}" >
			                    <option value="">Selecione o ano atual no qual o aluno se encontra</option>
			                    <option th:each="anoLetivo : ${anosLetivo}" th:value="${anoLetivo}" th:text="${anoLetivo.descricao}">Matriculado</option>
			                </select>
						</div>
						
						<div class="col-sm-3 form-group sc-required" sisaluno:classforerror="periodo">
							<label for="periodo" class="control-label">Período</label>
							<select id="periodo" class="form-control" th:field="*{periodo}" >
			                    <option value="">Selecione no qual período o aluno se encontra</option>
			                    <option th:each="periodo : ${periodos}" th:value="${periodo}" th:text="${periodo.descricao}">1º Ano</option>
			                </select>
						</div>						
					</div>			 					 	
			 	</div>			 				 
			 </div>
			
				<div class="row" style="clear: both">
					<div class="col-lg-12">
						<div class="btn-group">
						  <button type="submit" class="btn  btn-primary">Salvar</button>
						  <button type="button" class="btn  btn-primary  dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						  </button>
						  
						  <ul class="dropdown-menu">
						    <li><a href="#">Salvar e emitir</a></li>
						    <li><a href="#">Salvar e enviar por e-mail</a></li>
						  </ul>
						</div>
					
						<button class="btn  btn-danger">Cancelar</button>
					</div>
				</div>
		</form>
	</div>
	
	<th:block th:replace="aluno/PesquisaRapidaAlunos :: pesquisaRapidaAlunos"></th:block>
	<th:block th:replace="hbs/TemplateAutocompleteCurso"></th:block>
</section>

<th:block layout:fragment="javascript-extra">
	
	<script>
		$(function() {
			$('.js-abas-matricula a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
	
	<script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/aluno.pesquisa-rapida.js}"></script>
	<script th:src="@{/layout/javascripts/aluno-mascara-nota.js}"></script>
	<script th:src="@{/javascripts/matricula.autocomplete-cursos.js}"></script>
	<script th:src="@{/javascripts/matricula.tabela-itens.js}"></script>
	<script th:src="@{/javascripts/matricula.js}"></script>
	
		
</th:block>

</html>
