<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:sisaluno="http://sisaluno.decex.eb.mil.br"
	  xmlns:data="http://www.thymeleaf.org/extras/data"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Pesquisar matriculas</title>	
</head>

<body>	
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisar matriculas</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="decex-page-header-controls">
					
						<a class="btn btn-default" th:href="@{/matriculas/nova}" sec:authorize="hasRole('ROLE_ADMINISTRACAO')">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova matricula</span>
						</a>
					</div>
				</div>
			</div>
		</div>	
	 </div>
	 	 
	 <div class="container-fluid">
		<form method="GET" th:object="${matriculaFilter}">
			<div class="row">
				<div class="form-group col-sm-4">
					<label class="control-label" for="cpf">CPF</label>
					<input type="text" class="form-control" id="cpf" autofocus="autofocus" th:field="*{cpf}"/>				
				</div>
				
				<div class="form-group col-sm-4">
					<label class="control-label" for="matricula">Matricula</label>
					<input type="text" class="form-control" id="matricula" autofocus="autofocus" th:field="*{matricula}"/>				
				</div>				
				
				
				<div class="form-group col-sm-4">
					<label class="control-label" for="">Nome</label>
					<input type="text" class="form-control" id="" th:field="*{aluno}"/>				
				</div>
			</div>
			
			<div class="row">
				
				<div class="col-sm-3 form-group">
					<label for="anoLetivo" class="control-label">Ano letivo</label>
					<select id="anoLetivo" class="form-control" th:field="*{anoLetivo}" >
	                    <option value="">Selecione o ano para pesquisa</option>
	                    <option th:each="anoLetivo : ${anosLetivo}" th:value="${anoLetivo}" th:text="${anoLetivo.descricao}">Matriculado</option>
	                </select>
				</div>
				
				<div class="form-group col-sm-4">
					<label class="control-label" for="anoLetivo">Ano letivo</label>
					<input type="text" class="form-control" id="anoLetivo" th:field="*{anoLetivo}"/>				
				</div>
												
				<div class="form-group  col-sm-3">
					<label class="control-label" for="dataInicio">Data de inicio do curso</label>
					<input type="text" class="form-control js-date" id="dataInicioCurso" th:field="*{dataInicioCurso}"/>
				</div>
						
				<div class="form-group  col-sm-3">
					<label class="control-label" for="dataConclusao">Previsão de conclusão</label>
					<input type="text" class="form-control js-date" id="dataFinalCurso" th:field="*{dataFinalCurso}"/>
				</div>							
						              
			</div>
			
			<button type="submit" class="btn btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive sc-tabela-simples">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="table-usuarios-col-cpf">CPF</th>
						<th class="table-usuarios-col-matricula">Matricula</th>
						<th class="table-usuarios-col-">Nome do aluno</th>
						<th class="table-usuarios-col-ano">Ano letivo</th>
						<th class="table-usuarios-col-inicio">Início</th>
						<th class="table-usuarios-col-fim">Término</th>
						
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="matricula : ${pagina.conteudo}">						
						<td th:text="${matricula.aluno.cpf}">CPF</td>
						<td th:text="${matricula.numeroMatricula}">Matricula</td>
						<td th:text="${matricula.aluno.nome}">Nome do aluno</td>
						<td th:text="${matricula.anoLetivo}">Ano letivo</td>
						<td th:text="${matricula.dataInicioCurso}">Início</td>
						<td th:text="${matricula.dataFinalCurso}">Término</td>													
						<td class="text-center">														
							<a class="btn btn-link btn-xs js-tooltip" title="Editar" 
									th:href="@{/matriculas/{codigo}(codigo=${matricula.codigo})}">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							
							<a class="btn btn-link btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/matriculas/{codigo}(codigo=${matricula.codigo})}"
									data:codigo="${matricula.codigo}" data:objeto="${matricula.aluno.nome}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
							
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="7" style="text-align: center; color: red;">Nenhum usuário encontrado</td>
					</tr>
				</tbody>
				
			</table>
		</div>
		
		<sisaluno:pagination page="${pagina}"/>
		
	</div>
	 			
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/multiselecao.js}"></script>
	<script th:src="@{/javascripts/siscomplemento.dialogo-excluir.js}"></script>
</th:block>
</body>
</html>