<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:data="http://www.thymeleaf.org/extras/data">

	<div class="sc-tabela-curso js-tabela-item" th:each="item : ${itens}">
		<div class="sc-tabela-curso__coluna sc-tabela-curso__coluna--foto ">							
			<img th:src="@{/fotos/thumbnail.{foto}(foto=${item.curso.fotoOuMock})}" class="img-responsive">
		</div>					
	
	
		<div class="sc-tabela-curso__coluna sc-tabela-curso__coluna--detalhes ">
			<span class="sc-tabela-curso-descr" th:text="${item.curso.descr}">ARTILHARIA</span>
			<span class="label label-default" th:text="${item.curso.modalidade.descricao}">Formação de oficiais</span>
			<span class="sc-tabela-curso-vinculo" th:text="${item.curso.vinculo.descricao}">Carreira</span>
		</div>
		
		<div class="sc-tabela-curso__coluna  sc-tabela-curso__coluna--valores">
			<div class="sc-tabela-curso-valor-medio">Linha:</div>
			<input type="hidden" maxlength="3"
				class="sc-tabela-curso-campo-quantidade  js-tabela-curso-quantidade-item" 
					th:value="${item.quantidade}" data:codigo-curso="${item.curso.codigo}"/>
			<span class="sc-tabela-curso-valor-grande" th:text="${item.curso.linha.descricao}">Bélica</span>
		</div>
		
		<div class="sc-tabela-item__painel-exclusao">
			<span class="sc-tabela-item__titulo-exclusao">Excluir esse curso da matricula?</span>
			<button type="button" class="btn-danger js-exclusao-item-btn" 
				data:codigo-curso="${item.curso.codigo}">Sim, excluir!</button>		
		</div>		
	</div>
	
<!-- 	<div class="sc-tabela-matriculas__vazia" th:if="${itens.empty}"> -->
<!-- 		<i class="glyphicon  glyphicon-shopping-cart"></i>  -->
<!-- 		<span>Você ainda não adicionou nenhum curso.</span> -->
<!-- 	</div>	 -->
</html>		